// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #333;

// Styles
$text_color:        $black;

// Font stack
$body-font: Arial, Helvetica, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default; // Updated for consistency with the rest of your site

// The base body size
$body-font-size: 16px !default; // Increased from 13px to 16px for a more natural and readable text size

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
